@model IEnumerable<ApiApp.Models.Message>

<div class="alert alert-info" style="text-align: center;">Ваш собеседник: @ViewData["Friend"]</div>
@foreach (var item in Model)
{
    <div class="message">
        <div>
            <span class="label label-default">@item.FromID</span>
            <span class="label label-default" style="float:right; margin-top: 3px;">@item.TimeSent</span>
            <div class="alert alert-info">@item.Text</div>

        </div>
    </div>
}